:root {
  --header-font: 'Mukta', serif;
  --paragraph-font: 'Inconsolata', serif;
  --blue-light: #eef1ff;
  --blue-medium: rgba(142, 159, 247, 1);
  --blue-dark: rgba(64, 77, 138, 1);
  --grey-light: rgba(230, 236, 239, 1);
  --grey-medium: rgba(141, 148, 151, 1);
  --grey-dark: rgba(19, 20, 20, 1);
  --pink-light: rgba(255, 225, 235, 1);
  --pink-medium: rgba(186, 126, 144, 1);
  --pink-dark: rgba(109, 64, 78, 1);
  --warning: rgba(168, 72, 102, 1);

  /* setup colour schemes and font families for pages */
}

body {
  margin: 0;
  background-color: var(--grey-light);

  /* cancel auto layout margins */
}

html {
  font-size: 62.5%;

  /* ^ set 1rem to 10px */
}

/* body */

/* intro section */

.intro {
  font-family: var(--paragraph-font);
  color: var(--grey-dark);
}
.intro:hover {
  font-family: var(--paragraph-font);
  color: var(--warning);
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro {
  color: var(--grey-dark);
}
.intro h1 {
  font-size: 400%;
  text-align: center;
}
.intro p {
  font-size: 160%;
  line-height: 1.6rem;
}

/* end of intro section */

/* input section */

.input {
  margin: 2rem;
}
.input h2 {
  text-align: center;
}
.input__head {
  font-family: var(--header-font);
}

/* end of input section */

/* end of body */
