:root {
  --header-font: 'Mukta', serif;
  --paragraph-font: 'Inconsolata', serif;
  --coffee-black: #221700;
  --coffee-dark: rgba(118, 80, 0, 1);
  --coffee-bright: rgba(226, 153, 1, 1);
  --coffee-white: rgba(255, 254, 251, 1);

  /* setup colour schemes and font families for pages */
}

body {
  margin: 0;

  /* cancel auto layout margins */
}

html {
  scroll-behavior: smooth;

  /* ^ set scroll in-page to smooth */
  font-size: 62.5%;

  /* ^ set 1rem to 10px */
}
p {
  font-family: var(--paragraph-font);
}
h1 h2 {
  font-family: var(--header-font);
}
