:root {
  --header-font: 'Mukta', serif;
  --paragraph-font: 'Inconsolata', serif;
  --blue-light: #eef1ff;
  --blue-medium: rgba(142, 159, 247, 1);
  --blue-dark: rgba(64, 77, 138, 1);
  --grey-light: rgba(230, 236, 239, 1);
  --grey-medium: rgba(141, 148, 151, 1);
  --grey-dark: rgba(19, 20, 20, 1);
  --pink-light: rgba(255, 225, 235, 1);
  --pink-medium: rgba(186, 126, 144, 1);
  --pink-dark: rgba(109, 64, 78, 1);
  --warning: rgba(168, 72, 102, 1);

  /* setup colour schemes and font families for pages */
}

body {
  margin: 0;
  background-color: var(--grey-light);

  /* cancel auto layout margins */
}

html {
  font-size: 62.5%;

  /* ^ set 1rem to 10px */
}

/* body */

/* intro section */

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  resize: auto;
}

p {
  font-family: var(--paragraph-font);
}

.intro {
  margin-left: 8%;
  margin-right: 8%;
  color: var(--grey-dark);
}

.intro h1 {
  font-family: var(--header-font);
  font-size: 400%;
  text-align: center;
}

.intro p {
  font-size: 140%;
  line-height: 1.6rem;
}

/* end of intro section */

/* input section */

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 4%;
  margin-right: 4%;
  padding-left: 12%;
  padding-right: 12%;
  border: 1rem solid var(--grey-medium);
  border-radius: 4rem;
}

.input__head {
  font-family: var(--header-font);
  font-size: 220%;
}

.input__box {
  width: 100%;
  border-radius: 1rem;
  appearance: none;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  color: var(--grey-dark);
  font-family: var(--paragraph-font);
  background: none;
  border: 0.2rem solid var(--grey-medium);
}

.input__box:hover {
  border-color: var(--blue-medium);
}

.input__box:focus {
  border-color: var(--blue-dark);
}
.buttons {
  margin-top: 12%;
  display: flex;
  justify-content: space-around;
}

.input__add {
  background-color: var(--blue-dark);
  border: none;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  border-radius: 2rem;
  color: var(--blue-light);
  font-family: var(--paragraph-font);
  cursor: pointer;
}

.input__remove {
  background-color: var(--pink-dark);
  border: none;
  appearance: none;
  padding-bottom: 0.4rem;
  padding-top: 0.2rem;
  border-radius: 2rem;
  color: var(--pink-light);
  font-family: var(--paragraph-font);
  cursor: pointer;
}

.input__add:hover {
  background-color: var(--blue-medium);
}
.input__remove:hover {
  background-color: var(--pink-medium);
}

.input__add:active {
  background-color: var(--blue-light);
  color: var(--blue-medium);
  outline: 0.2rem solid var(--blue-dark);
}

.input__remove:active {
  background-color: var(--pink-light);
  color: var(--pink-medium);
  outline: 0.2rem solid var(--pink-dark);
}

.warning {
  padding-top: 8%;
  font-size: 120%;
  font-style: var(--paragraph-font);
  color: var(--warning);
  font-weight: bolder;
}

.opt__lbl {
  padding-right: 2%;
  font-size: 1.4rem;
  color: var(--grey-dark);
  font-family: var(--header-font);
}

.input__sort {
  cursor: pointer;
  width: 64%;
  border-radius: 1rem;
  appearance: none;
  padding: 0.4rem;
  color: var(--grey-dark);
  font-family: var(--paragraph-font);
  background: none;
  outline: 0.1rem solid var(--grey-medium);
}

.input__lihead {
  font-family: var(--header-font);
  font-size: 180%;
  color: var(--blue-medium);
}

.input__list {
  align-self: flex-start;
  font-family: var(--paragraph-font);
  font-weight: bold;
  font-size: 120%;
  line-height: 1.8rem;
  color: var(--blue-dark);
}

/* end of input section */

/* footer */

.footer {
  margin: 8%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__p {
  margin-left: 3.4rem;
  padding-right: 1rem;
}

.icon {
  cursor: pointer;
  width: 42%;
}

.icon__colour {
  fill: var(--grey-medium);
}

.icon__colour:hover {
  fill: var(--blue-medium);
}

.icon__colour:active {
  fill: var(--blue-dark);
}

/* end of footer */

/* end of body */
